body{
    padding: 30px 250px;
    font-size: 40px;
    font-family: "Comic Sans MS";
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background: cornflowerblue;
    margin-bottom: 30px;

}

.main{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    background: blue;
    width: 30%;
    height: 400px;
}

.foot{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background: cornflowerblue;
}