body{
    margin: 0;
}

section{
    margin: 0;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    margin-top: 0;
}

p{
    text-align: center;
}